/* Nav Bar */
#profile {
    border-radius: 10%;
    width: 30%;
    height: 30%;
}
.home-first {
    margin-left: 10px;
    background: -webkit-linear-gradient(#215F00, #E4E4D9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-last {
    margin-left: -4px;
    padding-left: 0px;
    background: -webkit-linear-gradient(#C21500, #FFC500);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-first, .home-last {
    display: inline-block;
    padding-top: 9px;
}
.home-first p, .home-last p {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
}
.home-first p::first-letter, .home-last p::first-letter {
    font-size: 120%;
}
.nav-container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
header {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: auto;
    border-bottom: black 1px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.body-container {
    margin-right: 9%;
    margin-left: 9%;
    text-align: center;
    font-family: Avant Garde, Avantgarde, Century Gothic, Apple Gothic, sans-serif;
    color: #D1E8E2;
}
nav {
    float: right;
    color: #5680E9;
    font-family: 'Raleway', sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    position: relative;
    margin-left: 64px;
    margin-right: 66px;
    padding-top: 60px;
}
nav a {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    text-decoration: none;
}